

.div-cabecalho {
    background-color:rgb(63, 60, 60);
    height: 220px;
    width: 1340px;
    margin-top: -9px;
    margin-left: -8px;    
}
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(81, 81, 82);  
     display: inline-flex;
}

li{
    display: inline;
    float: right;
}

li a{
    background-color: rgb(68, 67, 70);
    color: white;
    padding: 8px 10px;
    display: block;
    text-align: center;

}

li a:hover{
    background-color: slateblue;
}

/* nav a {
    background-color: white;
} */

.teste{
    background-color: rgb(156, 148, 163);
    width: 1280px;
    margin: auto;
    height: 400px;
}