.div-inline{
    display: inline;
}

.div-flex{ display: flex;}
.flex-row{ flex-direction: row;}
.flex-colunm{ flex-direction: column;}
.flex-row-rev{ flex-direction: row-reverse;}
.flex-colunm-rev{ flex-direction: column-reverse;}

.larg-alt-full{
    height: 100%;
    width: 100%;
}

.larg-full{ width: 100%;}
.alt-full{ height: 100%;}
/*
*
*
* PADDING */
.padding-t-p{ padding: 15px 0 15px 0;}
.padding-l-r{ padding: 0 15px 0 15px;}

.padding-t{ padding-top: 15px;}
.padding-r{ padding-right: 15px;}
.padding-b{ padding-bottom: 15px;}
.padding-l{ padding-left: 15px;}

.esconder{ visibility: hidden}
.ocultar{ display: none;}

.elemento-tras{ z-index: -1;}

.elemento-frente{ z-index: 1;}

.align-center{ align-items: center;}

.content-center{ justify-content: center;}